*.swp
*.o
.cache/
.deps/
.dirstamp
.vs/
.vscode/
/Makefile
/Makefile.in
/aclocal.m4
/auto/
/autom4te.cache/
/build-config.h
/build-config.h.in
/build-config.h.in~
/build/
/buildx86/
/buildx64/
/build-wii/
/build-wiiu/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/schismtracker
/schismtrackertest
/stamp-h1
configure~
.DS_Store
._*
