*.swp
*.o
.deps/
.dirstamp
.vs/
/Makefile
/Makefile.in
/aclocal.m4
/auto/
/autom4te.cache/
/build/
/buildx86/
/buildx64/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/schismtracker
/stamp-h1
