[Desktop Entry]
Version=1.0
Name=Schism Tracker Font Editor
Comment=ITF Clone
Terminal=false
Exec=schismtracker --font-editor
Type=Application
Icon=schism-itf-icon-128.png
Categories=Audio;Midi;Sequencer;Player;Music
Keywords=impulse;module;midi;music
