[Desktop Entry]
Actions=Play;FontEditor;RenderWAV
Version=1.0
Name=Schism Tracker
Comment=Impulse Tracker clone
Comment[fr]=Clone d'Impulse Tracker
Terminal=false
TryExec=schismtracker
Exec=schismtracker %f
Type=Application
Icon=schism-icon-128
Categories=AudioVideo;Audio;Midi;Sequencer;Player;Music;
MimeType=audio/x-it;audio/x-s3m;audio/x-xm;audio/x-mod;
Keywords=impulse;module;midi;music;

[Desktop Action Play]
Name=Schism Tracker (play song)
Exec=schismtracker -p %f

[Desktop Action FontEditor]
Name=Schism Tracker (font editor)
Exec=schismtracker --font-editor

[Desktop Action RenderWAV]
Name=Schism Tracker (render song)
Exec=env SCHISM_FILE=%f schismtracker --diskwrite="\\$SCHISM_FILE.wav" "\\$SCHISM_FILE"
