[Desktop Entry]
Actions=Play;
Version=1.0
Name=Schism Tracker
Comment=Impulse Tracker Clone
Encoding=UTF-8
Terminal=false
TryExec=schism
Exec=schism %f
Type=Application
Icon=schism-icon-128.png
Categories=GNOME;Application;AudioVideo;Audio;Video;
MimeType=audio/x-mod
X-Desktop-File-Install-Version=0.10

[Desktop Action Play]
Name=Schism Tracker (play song)
Exec=schism -p %f
