[Desktop Entry]
Actions=Play;
Version=1.0
Name=Schism Tracker
Comment=Impulse Tracker clone
Terminal=false
TryExec=schismtracker
Exec=schismtracker %f
Type=Application
Icon=schism-icon-128.png
Categories=Audio;Midi;Sequencer;Player;Music
MimeType=audio/x-it;audio/x-s3m;audio/x-xm;audio/x-mod
Keywords=impulse;module;midi;music

[Desktop Action Play]
Name=Schism Tracker (play song)
Exec=schismtracker -p %f
