<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>schismtracker</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>it</string>
				<string>IT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>moduleIcon.icns</string>
			<key>CFBundleMIMETypes</key>
			<array>
				<string>audio/mod</string>
				<string>audio/x-mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Impulse Tracker Module</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>669</string>
				<string>amf</string>
				<string>AMF</string>
				<string>ams</string>
				<string>AMS</string>
				<string>dbm</string>
				<string>DBM</string>
				<string>dmf</string>
				<string>DMF</string>
				<string>far</string>
				<string>FAR</string>
				<string>mdl</string>
				<string>MDL</string>
				<string>med</string>
				<string>MED</string>
				<string>mod</string>
				<string>MOD</string>
				<string>mt2</string>
				<string>MT2</string>
				<string>mtm</string>
				<string>MTM</string>
				<string>okt</string>
				<string>OKT</string>
				<string>psm</string>
				<string>PSM</string>
				<string>ptm</string>
				<string>PTM</string>
				<string>s3m</string>
				<string>S3M</string>
				<string>stm</string>
				<string>STM</string>
				<string>ult</string>
				<string>ULT</string>
				<string>umx</string>
				<string>UMX</string>
				<string>xm</string>
				<string>XM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>moduleIcon.icns</string>
			<key>CFBundleMIMETypes</key>
			<array>
				<string>audio/mod</string>
				<string>audio/x-mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>Copyright</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright</string>
	<key>CFBundleIconFile</key>
	<string>appIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.schismtracker.SchismTracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Schism Tracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>CFBundleShortVersionString</string>
	<key>CFBundleSignature</key>
	<string>Schm</string>
	<key>CFBundleVersion</key>
	<string>CFBundleVersion</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CGDisableCoalescedUpdates</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<false/>
</dict>
</plist>
